<app-header></app-header>
<section class="relative w-full h-screen bg-cover bg-center bg-[#10497E] ">
    <div class=" bg-[#10497E] py-6 flex items-center justify-center px-4">
      
      <div class="max-w-md w-full bg-white/20 backdrop-blur-md rounded-2xl p-6 sm:p-10 shadow-xl text-center text-[#10497E]">
        
        <div class="flex justify-center mb-4">
          <img src="assets/iaaherologo.png" alt="Logo" class="h-13 " />
        </div>
  
        <h2 class="text-2xl font-bold text-white mb-6">Signin</h2>
  
        <form class="space-y-4 text-left" (ngSubmit)="onSubmit()" #signinForm="ngForm">

          <!-- Email -->
          <input type="email"
                 name="email"
                 [(ngModel)]="email"
                 required
                 placeholder="Email"
                 class="w-full px-4 py-2 rounded shadow text-[#10497E] placeholder-[#10497E] bg-white focus:outline-none focus:ring-2 focus:ring-[#10497E]" />
        
          <!-- Password -->
          <input type="password"
                 name="password"
                 [(ngModel)]="password"
                 required
                 placeholder="Password"
                 class="w-full px-4 py-2 rounded shadow text-[#10497E] placeholder-[#10497E] bg-white focus:outline-none focus:ring-2 focus:ring-[#10497E]" />
        
          <!-- Forgot password link -->
          <p class="space-y-4 text-white">
            Forgot password?
            <a routerLink="/signup" class="underline text-[#A41E22] hover:text-[#10497E] font-semibold">Recover</a>
          </p>
        
          <!-- Submit Button -->
          <button type="submit"
                  [disabled]="loading || !signinForm.form.valid"
                  class="w-full bg-[#10497E] hover:bg-[#A41E22] text-white font-semibold py-2 rounded transition">
            {{ loading ? 'Signing in...' : 'Signin' }}
          </button>
        </form>
        
  
        <p class="mt-4 text-white">
          New user?
          <a (click)="goToSignup()" class="underline text-[#A41E22] hover:text-[#10497E] font-semibold cursor-pointer ">Sign up</a>
        </p>
  
      </div>
    </div>
    <footer class="text-white text-center py-3 text-sm">
        &copy; 2025 Secure Blockchain Voting. All Rights Reserved.
    </footer>
  </section>
  