<div class="p-6 grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="bg-white shadow rounded p-4">
      <h3 class="text-lg font-semibold text-[#10497E]">Voting Status</h3>
      <p class="text-gray-600 mt-2">Check if you've already voted.</p>
    </div>
    <div class="bg-white shadow rounded p-4">
      <h3 class="text-lg font-semibold text-[#10497E]">Upcoming Elections</h3>
      <p class="text-gray-600 mt-2">View upcoming elections and deadlines.</p>
    </div>
    <div class="bg-white shadow rounded p-4">
      <h3 class="text-lg font-semibold text-[#10497E]">Registered Elections</h3>
      <p class="text-gray-600 mt-2">View elections you've already registered</p>
    </div>
  </div>
  